/* The sidebar menu */
.rightbar
{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: grey;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Nav links */
.rightbar a
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.rightbar a:hover
{
    color: grey;
}

#small
{
    width: 40px;
    height: 20px;
    font-size: 10px;
}

#sr
{
   
}