body
{
    background-color: white;
    color: grey;
    font-family: 'Times New Roman';
}

.ttl
{
    text-align: center;
    margin-bottom: -30px;
    font-size: 50px;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

footer a
{
    text-decoration: none;
    color: white;
}